
h3{
    background-color: 	#f86363;
}
table{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
}
caption{
    color: black;
}
th{
    font-size: 20px;
    color: black;
    background-color:rgb(59, 55, 46);
}
.cantotopleft{
    border-top-left-radius: 20px;
}
.cantotopright{
    border-top-right-radius: 20px;
}

